@font-face {
  font-family: 'Retro';
  src: local('Retro'), url(./assets/font/Retro_Gaming.ttf) format('truetype');}
  
body {

  background-color: #151515;
  color:white;
  margin: 0;
  font-family: Retro,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
//------ Body --------
body > #root > div {
  height: 100vh;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
