.Home{
    display:flex;
}
.BodyComplete{
    width: 100vw;
    height: 100vh;
}
.Aside{
    color:white;
    padding-left:30px;
    padding-top:30px;
    img{
        width: 120px;

    }
    a.icon-create{
        padding:10px;
        color:white;
        text-decoration: none;
        background-color:  #202020;
        border-radius: 5px;
        text-align: center;
        text-transform: uppercase;
        
     &:hover{
         border: 1px solid yellow;

     } 
    }
}
.filters{
    display:flex;
    justify-content: space-around;
}
.Body_search{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    
}