.Home{
    display:flex;
}
.BodyComplete{
    width: 100vw;
    height: 100vh;
}
.Aside{
    color:green;
}
.filters{
    display:flex;
    justify-content: space-around;
}
.Body_search{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    
}