.Filter-Container {
    display: flex;
    align-items: center;
    gap: 10px;

    .filter-label {
        font-size: 0.85rem;
        color: #888;
        white-space: nowrap;
        font-family: retro;
    }

    // Ancho mínimo para los selects
    > div {
        min-width: 120px;
    }
}

.Filter-Genre {
    > div {
        min-width: 220px;
    }
}
